<nav class="shadow-md mb-2">
  <div class="flex justify-between items-center mx-auto py-3 w-3/4">
    <div class="flex gap-4 cursor-pointer" routerLink="discover">
      <img src="../../../assets/logo.png" alt="github" class="h-6" />
      <div class="text-xl font-serif">Github Repository Dashboard</div>
    </div>

    <div class="flex gap-8 text-base font-serif">
      <div
        class="cursor-pointer"
        routerLink="discover"
        routerLinkActive="text-pink-500"
      >
        Discover
      </div>
      <div
        class="cursor-pointer"
        routerLink="charts"
        routerLinkActive="text-pink-500"
      >
        Charts
      </div>
    </div>
  </div>
</nav>
