<div class="flex flex-col">
  <div>
    <app-search></app-search>
  </div>
  <div class="flex justify-center mb-4">
    <button
      class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded flex items-center"
      (click)="toggleView()"
    >
      <i class="fa-solid fa-table-cells-large" *ngIf="showCard"></i>
      <i class="fa-solid fa-credit-card" *ngIf="!showCard"></i>
      <span class="ml-2">{{ showCard ? "Grid View" : "Card View" }}</span>
    </button>
  </div>

  <div #dataContainer class="overflow-y-auto h-[73vh]">
    <app-card
      *ngIf="showCard"
      [repositories$]="repositories$"
      (loadMoreRepositoriesEvent)="loadMoreRepositories()"
    >
    </app-card>
    <app-grid
      *ngIf="!showCard"
      [repositories$]="repositories$"
      (loadMoreRepositoriesEvent)="loadMoreRepositories()"
    ></app-grid>
  </div>
</div>
