<div class="mx-auto w-3/4 mt-24" data-cy="charts">
  <h1 class="text-2xl text-center font-semibold mb-12" data-cy="charts-title">
    Choose a Chart to Compare Repositories
  </h1>
  <div class="flex justify-around">
    <div
      data-cy="charts-piechart"
      routerLink="/charts/piechart"
      class="transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
    >
      <div
        class="rounded-lg overflow-hidden bg-white shadow-lg p-6 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2 text-gray-800">Pie Chart</h2>
        <img
          src="../../../assets/piechart.jpg"
          alt="Pie Chart"
          class="h-48 w-64"
        />
      </div>
    </div>
    <div
      data-cy="charts-barchart"
      routerLink="/charts/barchart"
      class="transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
    >
      <div
        class="rounded-lg overflow-hidden bg-white shadow-lg p-6 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2 text-gray-800">Bar Chart</h2>
        <img
          src="../../../assets/barchart.jpg"
          alt="Bar Chart"
          class="h-48 w-64"
        />
      </div>
    </div>
  </div>
</div>
