<div
  class="flex flex-col justify-center items-center w-3/4 mx-auto mt-16 gap-4 bg-white rounded-lg shadow-lg p-6"
>
  <h2 class="text-lg font-semibold text-gray-800 mb-4">
    Select up to 3 languages to compare their repository counts
  </h2>

  <div class="flex gap-4">
    <ejs-multiselect
      id="multiselectelement"
      class="w-96"
      placeholder="Search languages..."
      [dataSource]="languages$ | async"
      [maximumSelectionLength]="selectionLimit"
      #multiselect
    ></ejs-multiselect>

    <button
      type="button"
      data-cy="search-button"
      (click)="searchRepositoryCounts()"
      class="text-white bg-pink-500 font-semibold rounded-md text-sm px-4 py-2 hover:bg-pink-600 focus:outline-none focus:ring-2 focus:ring-pink-500"
    >
      Search
    </button>
  </div>

  <div *ngIf="pieChartData$ | async as pieChartData">
    <ejs-accumulationchart id="chart-container" [tooltip]="{ enable: true }">
      <e-accumulation-series-collection>
        <e-accumulation-series
          [dataSource]="pieChartData"
          xName="language"
          yName="count"
        ></e-accumulation-series>
      </e-accumulation-series-collection>
    </ejs-accumulationchart>
  </div>
</div>
