<div class="flex justify-center items-center gap-4 p-4">
  <ejs-autocomplete
    id="atcelement"
    placeholder="Search Language..."
    [dataSource]="Languagedata"
    [(value)]="selectedLanguage"
    class="w-full p-4"
  ></ejs-autocomplete>

  <button
    type="button"
    (click)="onSearch()"
    class="text-white bg-pink-500 hover:bg-pink-700 font-medium rounded-md text-sm p-2"
  >
    Search
  </button>
</div>

<ejs-chart
  id="container"
  [primaryXAxis]="primaryXAxis"
  [primaryYAxis]="primaryYAxis"
  [title]="title"
  [tooltip]="tooltip"
  [palettes]="palette"
>
  <e-series-collection>
    <e-series
      [dataSource]="chartData"
      type="Column"
      xName="name"
      yName="stars"
      name="Stars"
    ></e-series>
    <e-series
      [dataSource]="chartData"
      type="Column"
      xName="name"
      yName="forks"
      name="Forks"
    ></e-series>
  </e-series-collection>
</ejs-chart>
