<div
  class="flex flex-col justify-center items-center w-3/4 mx-auto mt-16 gap-4 bg-white rounded-lg shadow-lg p-6"
>
  <h2 class="text-lg font-semibold text-gray-800 mb-4">
    Search to compare top ten repositories stars and forks count
  </h2>

  <div class="flex gap-4">
    <ejs-autocomplete
      id="atcelement"
      placeholder="Search Language..."
      [dataSource]="languages$ | async"
      [(value)]="selectedLanguage"
      class="w-96"
    ></ejs-autocomplete>

    <button
      type="button"
      (click)="fetchRepositories(this.selectedLanguage)"
      class="text-white bg-pink-500 hover:bg-pink-700 font-medium rounded-md text-sm p-2"
    >
      Search
    </button>
  </div>
  <div
    class="flex justify-center items-center gap-4 p-4"
    *ngIf="barChartData$ | async as barChartData"
  >
    <ejs-chart
      id="container"
      [primaryXAxis]="{
        valueType: 'Category',
        title: 'Stars',
      }"
      [primaryYAxis]="primaryYAxis"
      [tooltip]="{ enable: true }"
      [palettes]="['#ec4899', '#9333ea']"
    >
      <e-series-collection>
        <e-series
          [dataSource]="barChartData"
          type="Column"
          xName="name"
          yName="stars"
          name="Stars"
        ></e-series>
        <e-series
          [dataSource]="barChartData"
          type="Column"
          xName="name"
          yName="forks"
          name="Forks"
        ></e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>
