<div class="flex justify-center items-center my-8 gap-8 w-3/4 mx-auto">
  <ejs-autocomplete
    [dataSource]="languages$ | async"
    [(value)]="selectedLanguage"
    class="w-1/3 p-2"
    data-cy="language-input"
  ></ejs-autocomplete>

  <ejs-dropdownlist
    data-cy="sortOrder-select"
    [dataSource]="sortOrders"
    [(value)]="selectedSortOrder"
    class="w-1/3 p-2"
  ></ejs-dropdownlist>

  <button
    type="button"
    data-cy="search-button"
    (click)="searchRepositories(selectedLanguage, selectedSortOrder)"
    class="search-button text-white bg-pink-500 hover:bg-pink-700 font-medium rounded-md text-sm p-2"
  >
    Search
  </button>
</div>
