<div class="flex justify-center items-center my-8 gap-8 w-3/4 mx-auto">
  <ejs-autocomplete
    id="atcelement"
    placeholder="Search Language..."
    [dataSource]="languageData"
    [(value)]="selectedLanguage"
    class="w-1/3 p-2"
  ></ejs-autocomplete>

  <ejs-dropdownlist
    id="ddlelement"
    placeholder="Select sorting order"
    [dataSource]="orderData"
    [(value)]="selectedOrder"
    class="w-1/3 p-2"
  ></ejs-dropdownlist>

  <button
    type="button"
    (click)="onSearch()"
    class="text-white bg-pink-500 hover:bg-pink-700 font-medium rounded-md text-sm p-2"
  >
    Search
  </button>
</div>
