<div class="flex justify-center items-center my-8 gap-8 w-3/4 mx-auto">
  <!-- Autocomplete for searching language -->
  <ejs-autocomplete
    id="atcelement"
    placeholder="Search Language..."
    [dataSource]="languageData"
    [(value)]="selectedLanguage"
    class="w-1/3 p-2 rounded-md border border-gray-300"
  ></ejs-autocomplete>

  <!-- Dropdown list for sorting order -->
  <ejs-dropdownlist
    id="ddlelement"
    placeholder="Select sorting order"
    [dataSource]="orderData"
    [(value)]="selectedOrder"
    class="w-1/3 p-2 rounded-md border border-gray-300"
  ></ejs-dropdownlist>

  <!-- Error message if language is not selected -->
  <div *ngIf="showError" class="text-red-600 font-medium ml-2">
    Please select valid a language.
  </div>

  <!-- Search button -->
  <button
    type="button"
    (click)="onSearch()"
    class="text-white bg-pink-600 hover:bg-pink-700 font-medium rounded-md text-sm p-2"
  >
    Search
  </button>
</div>
